@import './base.css';

#app {
  max-width: 1480px;
  margin: 0 auto;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  font-weight: normal;
  box-shadow: 0px 0px 20px #00000017;
  
}

#header{
  grid-area: header;
}

#main{
  grid-area: main
}

#footer{
  grid-area: footer;
}

@media (min-width: 915px) {
  #app{
    grid-template-rows: auto auto;
    grid-template-columns: 0.4fr 1fr;
    grid-template-areas: 
    'header main'
    'footer footer';
  }
}

